<html>

  <head>
    <style>
    body {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }



    .d3-tip {
      line-height: 1;
      font-weight: bold;
      padding: 12px;
      background: rgba(0, 0, 0, 0.8);
      color: #fff;
      border-radius: 2px;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
    }

    /* Style northward tooltips differently */
    .d3-tip.n:after {
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
    }
    </style>
    <title>

      Video Game Data

    </title>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/font.css">
    <link rel="stylesheet" type="text/css" href="static/background.css">
    <link rel="stylesheet" type="text/css" href="static/radiobuttons.css">

  </head>

  <body>

    <br>
    <br>

    <center>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class='btn btn-secondary active' id="piechoice" onclick = "showPie();" style = 'color: #00FF00'>
          <input type="radio" name="graphtype" value="pie" checked="checked"> Pie Graph
        </label>
        <label class='btn btn-secondary' id="barchoice" onclick = "showBar();" style = 'color: #00FF00'>
          <input type="radio" name="graphtype" value="bar"> Bar Graph
        </label>
      </div>

    </center>

    <br>

    <table style="width: 100%">
      <tr>

        <td style="width: 10%">
        </td>

        <td style="max-width: 200px; padding-right: 50px; vertical-align: top; text-align: right;">
          <p id="chartchoiceP" style="padding-top: 18px">
            This is an interactive pie chart. You can choose the divide sections
            of the pie chart into different categories based on what you select
            on the drop down below. Hover over sections of the pie chart to see
            the number and percentage of games occupied by it. If you click on
            the section, a list of games will appear. You can click on at most
            two sections to compare the games contained side by side. You can
            only select at most 2 sections at a time! To reset the pie chart
            just click the center.
          </p>
        </td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <div id = "pie">
      <center><h1>Video Game Data</h1>
        <div style="padding-left: 75px; float: left" id="changePie">
          <h3>Sort by</h3>
          <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id='pieBtns'>
            <label class='btn btn-secondary active' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Genre" checked="checked"> Genre
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Year_of_Release"> Year of Release
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Rating"> ESRB Rating
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Platform"> Platform
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Critic_Score"> Metacritic Score
            </label>
          </div>
        </div>
        <div id="donut-charts"></div></center>
    </div>
    <div id = "bar" class = "hide">
      <center><h1>Customizable Bar Graph</h1>
        <div style="padding-left: 75px; float: left">
          <h3>Sort by</h3>
          <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons" id='barBtns'>
            <label class='btn btn-secondary active' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Genre" checked="checked"> Genre
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Publisher"> Publisher
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Year_of_Release"> Year of Release
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Developer"> Developer
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Rating"> ESRB Rating
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Platform"> Platform
            </label>
            <label class='btn btn-secondary' style='color: #00FF00'>
              <input type="radio" name="graphtype" value="Critic_Score"> Metacritic Score
            </label>
          </div>
        </div>
        <div id="bar-graph"></div></center>
    </div>
  </body>
  <script type="text/javascript" src="static/chartchoiceP.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
  <script src = "/static/donut.js"></script>
  <script src = "/static/barGraph.js"></script>
  <script src = 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>

</html>
